<mat-grid-list cols="1" rowHeight="90vh">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <h1>LOGIN</h1>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" #f="ngForm" (ngSubmit)="login(f)">
          <mat-form-field class="example-full-width">
            <input matInput name="email" placeholder="E-mail" [(ngModel)]="email">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <input type="password" matInput name="password" placeholder="Senha" [(ngModel)]="password">
          </mat-form-field>
          <button class="buttonLogIn" mat-raised-button color="primary">Entrar</button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>